In [4]:
# 1. All you can eat. These friends are at an all‐you‐can‐eat restaurant:
# friends = ["Geetha", "Huanxiang", "Megan", "Pedro"]
# This is the finger food at the buffet: food = ["sushi", "nachos", "samosa", "cheese"]
# Each person tries each type of finger food. Print out sentences like:
# Geetha eats sushi
# Geetha eats nachos
# ...
# for all the friends (a) using nested for loops through indices, and (b) using nested for loops through
# elements.

friends = ["Geetha", "Huanxiang", "Megan", "Pedro"]
food = ["sushi", "nachos", "samosa", "cheese"]

print("(a) using nested for loops through indices")

for i in range(len(friends)):
    for j in range(len(food)):
        print(f"{friends[i]} eats {food[j]}")
    print("\n")

print("(b) using nested for loops through")

for person in friends:
    for f in food:
        print(f"{person} eats {f}")
    print("\n")

(a) using nested for loops through indices
Geetha eats sushi
Geetha eats nachos
Geetha eats samosa
Geetha eats cheese


Huanxiang eats sushi
Huanxiang eats nachos
Huanxiang eats samosa
Huanxiang eats cheese


Megan eats sushi
Megan eats nachos
Megan eats samosa
Megan eats cheese


Pedro eats sushi
Pedro eats nachos
Pedro eats samosa
Pedro eats cheese


(b) using nested for loops through
Geetha eats sushi
Geetha eats nachos
Geetha eats samosa
Geetha eats cheese


Huanxiang eats sushi
Huanxiang eats nachos
Huanxiang eats samosa
Huanxiang eats cheese


Megan eats sushi
Megan eats nachos
Megan eats samosa
Megan eats cheese


Pedro eats sushi
Pedro eats nachos
Pedro eats samosa
Pedro eats cheese

In [15]:
# 2. Playing kids. At kindergarten, kids are playing a game where they have to pair up with another
# kid every time the teacher rings a bell. Eventually, every kid will pair up with all the other kids.
# Given this list of kids:
# kids = ["Paul", "Juhee", "Luca", "Maria"]
# a) Print out all the possible combinations starting from the first kid, that is:
# Paul plays with Juhee
# Paul plays with Luca
# Paul plays with Maria
# Juhee plays with Luca
# Juhee plays with Maria
# Luca plays with Maria
# b) Print all the possible combinations starting from the last kid (Maria).

kids = ["Paul", "Juhee", "Luca", "Maria"]

for i in range(len(kids)):
    for j in range(len(kids)):
        if i != j:
            print(f"{kids[i]} plays with {kids[j]}")
    print("\n")

Paul plays with Juhee
Paul plays with Luca
Paul plays with Maria


Juhee plays with Paul
Juhee plays with Luca
Juhee plays with Maria


Luca plays with Paul
Luca plays with Juhee
Luca plays with Maria


Maria plays with Paul
Maria plays with Juhee
Maria plays with Luca

In [26]:
# 3. Cities of the world. Given the following list cities:
# cities = ["Bogota", "Riga", "Kinshasa", "Damascus", "New Delhi", "Auckland"]

cities = ["Bogota", "Riga", "Kinshasa", "Damascus", "New Delhi", "Auckland"]

# a) Using a for loop through indices, create a new list containing city names with more than 7
# characters and change them to upper case.

cities_seven_chars = []

for city in cities:
    if len(city) > 7:
        cities_seven_chars.append(city.upper())
        
print(f"a. The cities with more than 7 characters in upper cases are: {cities_seven_chars}")
    
# b) Using a for loop through elements, create a new list containing initials of cities with a number
# of characters between 7 and 10.

initials_of_cities_between_seven_and_ten = []

for city in cities:
    if 7 <= len(city) <= 10:
        initials_of_cities_between_seven_and_ten.append(city[0])
        
print(f"b. The list of initial of cities with a number of characters are between 7 and 10 are: {initials_of_cities_between_seven_and_ten}")

# c) Using a for loop through indices and elements, print out each element in lower case and its
# position:

print("c.")

for i in range(len(cities)):
    print(f"\tThe city {cities[i].lower()} is in the index {i}")
# d) Using a list comprehension, create a new list containing the city names with less than 7 characters
# and change them to lower case.

city_names_less_than_7_characters = []

city_names_less_than_7_characters = [city.lower() for city in cities if len(city) < 7]

print(f"d. list containing the city names with less than 7 characters is: {city_names_less_than_7_characters}")

a. The cities with more than 7 characters in upper cases are: ['KINSHASA', 'DAMASCUS', 'NEW DELHI', 'AUCKLAND']
b. The list of initial of cities with a number of characters are between 7 and 10 are: ['K', 'D', 'N', 'A']
c.
	The city bogota is in the index 0
	The city riga is in the index 1
	The city kinshasa is in the index 2
	The city damascus is in the index 3
	The city new delhi is in the index 4
	The city auckland is in the index 5
d. list containing the city names with less than 7 characters is: ['bogota', 'riga']

In [18]:
# 4. Learning to count. Print consecutive numbers from 10 to 29 using a nested for loop. The outer
# for loop will print the first digit, whereas the inner for loop will print out the second digit, such
# as:
# 10
# 11
# 12
# ...
# 29

for i in range(1,3):
    first_digit = str(i)
    for j in range(0,10):
        second_digit = str(j)
        first_digit+=second_digit
        print(f"{first_digit}")
        first_digit = str(i)
        second_digit = ""

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [27]:
# 5. Triangle of numbers. Ask a user for a number. Then print a triangle of numbers where the maximum
# row is the queried number. For example:
# Input: 5
# Output:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5
# Hint: Consider using the parameter end in the print() function. Look for examples on how to
# use end online.

In [42]:
number = input("Enter a number:")
number = int(number)

result = ""

for i in range(1,number+1):
    for j in range(1,i+1):
        result += str(i)+" "
    print(f"{result}")
    result = ""

1
2 2
3 3 3
4 4 4 4